# Basic app flow defaults.
MYSQL_ROOT_PASSWORD=rootpw
MYSQL_DATABASE=shopdb
MYSQL_USER=app
MYSQL_PASSWORD=apppw

# Debezium CDC user created by db/02-debezium-user.sh on first MySQL initialization.
DEBEZIUM_USER=debezium
DEBEZIUM_PASSWORD=dbzpw

# Required for: docker compose --profile stream up --build
BUCKET_NAME=replace-with-bucket-name
AWS_ACCESS_KEY_ID_VALUE=replace-with-access-key
AWS_SECRET_ACCESS_KEY_VALUE=replace-with-secret-key
AWS_DEFAULT_REGION_VALUE=kr-central-2
AWS_DEFAULT_OUTPUT_VALUE=json
OBJECT_STORAGE_ENDPOINT=https://objectstorage.kr-central-2.kakaocloud.com
STORE_URL=https://objectstorage.kr-central-2.kakaocloud.com
